/*
* @Author: E2
* @Date:   2017-10-12 17:10:42
* @Last Modified by:   E2
* @Last Modified time: 2017-10-12 17:42:15
*/
.nav{
	background: #eee;
	height: 30px;
	line-height: 30px;
}
/* 用户部分 */
.nav .user{
	float: left;
}
.nav .user.login{
	display:none;
}
.nav .user .link{
	margin-right: 5px;
}
/*导航链接部分*/
.nav .nav-list{
	float:right;
}
.nav .nav-item{
	display: inline-block;
	margin-left: 5px;
}