/*
* @Author: E2
* @Date:   2018-06-09 10:41:52
* @Last Modified by:   E2
* @Last Modified time: 2018-06-09 10:48:37
*/
.footer{
	padding-bottom: 10px;
}
.footer .links{
	text-align: center;
	color: #666;
	line-height: 30px;
}
.footer .links .link{
	padding: 0 10px;
}
.footer .copyright{
	text-align: center;
	color: #666;
	line-height: 30px;
}