/*
* @Author: E2
* @Date:   2017-10-27 10:45:10
* @Last Modified by:   E2
* @Last Modified time: 2017-10-27 10:50:16
*/
/* banner */
.banner{ 
	position: relative; 
	overflow: auto; 
}
.banner li{ 
	list-style: none; 
}
.banner ul li{
 	float: left; 
}