/*
* @Author: E2
* @Date:   2017-11-20 11:26:31
* @Last Modified by:   E2
* @Last Modified time: 2018-08-24 17:50:44
*/
.nav-simple {
    height: 60px;
    line-height: 60px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.nav-simple .logo {
    color: #c60023;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
}