/*
* @Author: E2
* @Date:   2017-10-12 16:11:23
* @Last Modified by:   E2
* @Last Modified time: 2017-10-24 21:28:37
*/
.nav-simple{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	background: #fff;
}
.nav-simple .logo{
	font-size: 26px;
	font-weight: bold;
	color: #c60023;
	text-decoration: none;
}