/*
* @Author: E2
<<<<<<< HEAD
* @Date:   2018-05-30 17:52:12
* @Last Modified by:   E2
* @Last Modified time: 2018-06-01 11:04:23
*/
body{
	background: #ccc;
	color: red;
}
=======
* @Date:   2017-12-23 11:19:18
* @Last Modified by:   E2
* @Last Modified time: 2017-12-26 10:47:02
*/
body
{
	background:#ccc;
/* 	color: red;
font-size: 50px; */
    background-image: url(../../image/banner1.jpg);
}
>>>>>>> 474ba58c33ee09687b97fe31c311d990353d7368
