/*
* @Author: E2
* @Date:   2017-12-23 11:19:18
* @Last Modified by:   E2
* @Last Modified time: 2017-12-26 10:47:02
*/
body
{
	background:#ccc;
/* 	color: red;
font-size: 50px; */
    background-image: url(../../image/banner1.jpg);
}
